* {
    margin: 0px;
    padding: 0px;
    font-family: Courier New;
    
}

body {
   background-image: linear-gradient(to right top, #e5cf9e, #ccd8ac, #baddc2, #b5ded6, #bddde2, #bedae2, #c0d7e1, #c2d4df, #b6d0da, #aaccd4, #9ec8cb, #95c4c1);
}

nav, h3 {
    backface-visibility: hidden;
    text-shadow: 5px 5px 10px black;
}

a:hover {
    text-shadow: none ;
  }

a, p {
    text-shadow: 5px 5px 10px rgb(60, 60, 99);
    border: none;

}

.work a {
     color: black;
}

.navbar-brand {
    margin-bottom: 5px;
    width: 7%;
}

button:hover {
    box-shadow: 5px 5px 15px black;
}

#profile-pic {
    border: none;
    text-shadow: 5px 5px 10px black;
}

#profile-text {

    font-size: 18px;
    text-align: center;
}


.container {
    width: 100% auto;
}

.skills {
    margin-left: 40%;
}
